#add-user-bitbucket-access-extension-panel .should-invite-user-field-group {
    padding-top: 1px;
}

#add-user-bitbucket-access-extension-panel label[for='should-invite-user'] span {
    font-weight: bold;
}

.bitbucket-access-inline-dialog-content li {
    margin: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
