#add-user-bitbucket-access-extension-panel .bitbucket-access-field-group {
    padding-top: 1px;
}

#add-user-bitbucket-access-extension-panel label[for='should-invite-user'] span {
    font-weight: bold;
}

#add-user-bitbucket-access-extension-panel label[for='should-invite-user'] a.change-settings {
    font-size: 12px;
}

#bitbucket-access-inline-dialog-content li+li {
    margin-top: 10px;
}
